body{
background: linear-gradient(27deg, #34495e 50%, #2c3e50 50%);
}
.cabecera1{
	background-color: #6BBEFF;
	border: solid black 5px;
	width: 65%;
	height: 70px;
	text-align: center;
	float: left;
}	
.cabecera2{
	background-color: #6BBEFF;
	border: solid black 5px;
	width:26%;
	height: 70px;
	text-align: center;
	float: right;
}
.cabecera3{
	background-color: #6BBEFF;
	border: solid black 5px;
	width:15%;
	height: 70px;
	text-align: center;
	float: right;
}
.cabecera4{
	background-color: #6BBEFF;
	border: solid black 5px;
	width:18.40%;
	height: 70px;
	text-align: center;
	float: right;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
	opacity: 70%;
}
a:visited{
	text-decoration: none;
}
ul{
    list-style: none;
    display: flex;
}
ul,li{  
    padding: 10px;
}
.nav li ul{
    display: none;
    position: relative;
    min-width: 50%;
}
.nav li:hover > ul{
    display: block;  
}
li{
	width: 100%;
	text-align: center;
}
.clientes{
	font-weight: bold;
	font-size: 40px;
	background-color: #6BBEFF;
	color: white;
	border: solid black 5px;
}
.uno{
	border: solid black 3px;
}
.ropa:hover{
	background-color: #6BBEFF;
	font-size: 25px;
	transition: 0.7s;
}
.ropa{
	font-weight: bold;
	transition: 0.7s;
	font-size: medium;
	color: white;
}
.footer{ 	
  left: 0px;
  bottom: -800px;
  text-align: center;
  position: fixed;
}
.footer1{
  bottom: 0px;
  text-align: center;
  position: fixed;
  bottom: -400px;
}
nav{
    height: 100%;
    width: 100%;
    margin: auto;
}
.icon{
    height: 55px;
    width: auto;
    margin: auto;
    margin-top: 10%;
    border-radius: 50% black;
    border-radius: 20%;
    padding: 5px;
    display: block;
}	
.contenedor{
    width: 370px;
    height: 15%;
    float: left;
    transition: 1s;
}
.contenedor:hover{
    transition: 1s;
    width: 300px;
    height: 20%;
    border-radius: 20% 20% 20% 20%;
}
#uno{
	margin-left: 8px;
    background-color:  #6BBEFF;
    border: solid black 5px;
}
#dos{
    background-color:  #6BBEFF;
    border: solid black 5px;
}
#tres{
    background-color:  #6BBEFF;
    border: solid black 5px;
}
#cuatro{
    background-color:  #6BBEFF;
    border: solid black 5px;
}
#cinco{
    background-color:  #6BBEFF;
    border: solid black 5px;
}
#icono1:hover{
	transition: 0s;
}
#icono2:hover{
    transition: 0s;
}
#icono3:hover{
    transition: 0s;
}
#icono4:hover{
    transition: 0s;
}
#icono5:hover{
    transition: 0s;
}
h1{
	color: white;
}


