*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(27deg, #34495e 50%, #2c3e50 50%);
}

.form-body{
  width: 400px;
  min-width: 300px;
  border-radius: 10px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin: 10px;
}
.texto{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  margin-bottom: 25px;
}

.form-body input{
  display: block;
  margin: auto;
  height: 40px;
  width: 75%;
  padding-left: 10px;
  color: white;
  border: 1px solid white;
  border-radius: 2px;
  background-color: transparent;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 1rem;
  outline: none;
}

.form-body input[type="password"]{
  margin-top: 20px;
}

::placeholder{
  font-size: 1rem;
  color: rgba(255, 255, 255, .596);
}

.form-body input:hover{
  transition: .5s;
  border: 1px solid #2988b9;
  color: #2498db;
}

.form-body button{
  display: block;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 30px;
  height: 40px;
  width: 78%;
  background: transparent;
  color: #b9c4c6;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  border: 2px solid #2988b9;
  transition: all .5s ease;
}

.form-body button:hover{
  color: #d5dbdd;
  border: 2px solid #3496db;
  background: linear-gradient(#34495e, #2c3e50);
}

.form-body img{
  width: 150px;
  display: block;
  margin: 25px 120px;
}

p.hola{
  display: block;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 30px;
  height: 40px;
  width: 78%;
  background: transparent;
  color: #b9c4c6;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  border: 2px solid #2988b9;
  transition: all .5s ease;
  text-align: center;
  text-decoration: none;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}
video {
  width: 20px;
  height: 20px;
}